/*body{
    margin: 0px;
    padding: 0px;
}
.onltiming{
    float: left;
    align-items: center;
    justify-content: center;

    margin-bottom: 2vh;
    padding-right: 0px;
   
    

}
#onlinnertime{
    margin-left: 70%;
    width: 40%;
    border: 3px outset darkblue;
    background-color: rgb(10, 20, 109);
    align-items: center;
    border-radius: 70%;
    padding-top:1vh ;
    margin-right: 0px;
    color: rgb(162, 185, 196);
    font-weight: 1000;
    font-size: 5.1vw;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px ;
    margin-bottom: 1vh;
    box-shadow:1px 1px blue ;
    -webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.7);
    -moz-box-shadow:1px 2px 3px rgba(0,0,0,0.7) ;
    min-height: 60px;
    
}
.onlscoring{
    float: left;
    margin-top: 7vh;
    margin-bottom: 2vh;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
    

}
#onlinnerscore{
    background-color: rgb(172, 177, 240);
    margin-left: 50%;
    border-radius: 10px;
    padding: 10px;
    color: rgb(27, 23, 233);
    font-weight: 790;



}
.onlquestionbank{
    margin-top:7vh ;
    color: rgb(67, 67, 112);
    font-size: 3.5vw;
    font-family: cursive;
}
.onlsect{
    margin:10px;
    margin-top: 7vh;
    padding:16px ;
    margin-right: 20px;
    border-radius: 20px;
   /* border:1px outset darkblue;*/
 /*   box-shadow:5px 5px 5px rgb(110, 110, 212);
    -webkit-box-shadow:8px 0px 20px 13px rgb(110, 110, 212);
    -moz-box-shadow:8px 10px 20px 13px rgb(110, 110, 212) ;

}

.onlopt{

    margin-top: 1rem;
    cursor: pointer;
    text-decoration:none ;
    border-radius: 15px;
   min-height: 9.6vh;
    min-width: 45vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(123, 178, 180,0.5) ;
    -webkit-box-shadow:5px 3px 5px 5px rgba(123, 178, 180,0.5);
    -moz-box-shadow:3px 2px 5px 5px rgba(123, 178, 180,0.5);
    color: rgb(27, 27, 110);
    font-size: 2.9vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.onlopt:hover{
    background-color: rgb(230,225,255);
    min-height: 10vh;
    min-width: 46.2vw;
    font-size: 3.1vw;
    font-weight: 540;
    color: rgb(0, 0, 233);
}*/




body{
    margin: 0px;
    padding: 0px;
}






.timing{
    float: left;
    align-items: center;
    justify-content: center;

    margin-bottom: 2vh;
    padding-right: 0px;
   
    

}
#innertime{
    margin-left: 70%;
    width: 40%;
    border: 3px outset darkblue;
    background-color: rgb(10, 20, 109);
    align-items: center;
    border-radius: 70%;
    padding-top:1vh ;
    margin-right: 0px;
    color: rgb(162, 185, 196);
    font-weight: 1000;
    font-size: 5.1vw;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    max-height: 100px ;
    margin-bottom: 1vh;
    box-shadow:1px 1px blue ;
    -webkit-box-shadow:1px 2px 3px rgba(0,0,0,0.7);
    -moz-box-shadow:1px 2px 3px rgba(0,0,0,0.7) ;
    min-height: 60px;
    
}
.scoring{
    float: left;
    margin-top: 7vh;
    margin-bottom: 2vh;
    margin-right: 0px;
    padding: 0px;
    width: 100%;
    

}
#innerscore{
    background-color: rgb(172, 177, 240);
    margin-left: 50%;
    border-radius: 10px;
    padding: 5px;
    color: rgb(27, 23, 233);
    font-weight: 790;
    width: fit-content;



}
.questionbank{
    margin-top:7vh ;
    color: rgb(67, 67, 112);
    font-size: 3.5vw;
    font-family: serif;
}
.sect{
    margin:10px;
    margin-top: 7vh;
    padding:16px ;
    margin-right: 20px;
    border-radius: 20px;
   /* border:1px outset darkblue;*/
    box-shadow:5px 5px 5px rgb(110, 110, 212);
    -webkit-box-shadow:8px 0px 20px 13px rgb(110, 110, 212);
    -moz-box-shadow:8px 10px 20px 13px rgb(110, 110, 212) ;

}

.opt{

    margin-top: 1rem;
    cursor: pointer;
    text-decoration:none ;
    border-radius: 15px;
   min-height: 6.2vh;
    min-width: 45vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(123, 178, 180,0.5) ;
    -webkit-box-shadow:5px 3px 5px 5px rgba(123, 178, 180,0.5);
    -moz-box-shadow:3px 2px 5px 5px rgba(123, 178, 180,0.5);
    color: rgb(27, 27, 110);
    font-size: 2.9vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.opt:hover{
    background-color: rgb(230,225,255);
    min-height: 6.5vh;
    min-width: 46.2vw;
    font-size: 3.1vw;
    font-weight: 540;
    color: rgb(0, 0, 233);
}

#download-btn:hover{
    background-color: rgb(125, 213, 233);
    color: rgb(79, 79, 231);
}


